@model PortellaMarket.DTO.PromocaoDTO
@{
    Layout = "_LayoutAdmin";
}

<h2>Adição de Promoção</h2><br>
<a asp-controller="Gestao" asp-action="Promocoes" class="btn btn-primary">Voltar</a>
<hr>
<form asp-controller="Promocoes" asp-action="Salvar" class="form-horizontal" method="POST">
    <input type="hidden" asp-for="Id" value="0">

    <label asp-for="Nome">Nome</label>
    <input type="text" class="form-control" asp-for="Nome" placeholder="Nome da Promoção">
    <span asp-validation-for="Nome"></span>
    <hr>

    <label asp-for="ProdutoId">Produto</label>
    <select asp-for="ProdutoId" asp-items='@(new SelectList(@ViewBag.Produtos, "Id", "Nome"))' class="form-control"></select>
    <hr>

    <label asp-for="Porcentagem">Porcentagem</label>
    <input asp-for="Porcentagem" type="number" min="0" max="100" class="form-control" placeholder="Ex: 15%">
    <span asp-validation-for="Porcentagem"></span>

    <button type="submit" class="btn btn-success">Adicionar</button>
</form>