@model PortellaMarket.Models.Estoque
@{
    Layout = "_LayoutAdmin";
}

<h2>Cadastro de Estoque</h2><br>
<a asp-controller="Gestao" asp-action="Estoque" class="btn btn-primary">Voltar</a>
<hr>
<form asp-controller="Estoque" asp-action="Salvar" class="form-horizontal" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    
    <label asp-for="Produto">Produto</label>
    <select asp-for="ProdutoId" asp-items='@(new SelectList(@ViewBag.Produtos, "Id", "Nome"))' class="form-control"></select>
    <hr>

    <label asp-for="Quantidade">Quantidade</label>
    <input asp-for="Quantidade" type="number" min="0" class="form-control" placeholder="Ex: 100">
    <span asp-validation-for="Quantidade"></span>
    <hr>

    <button type="submit" class="btn btn-success">Adicionar</button>
</form>