@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca do Portella</h1>
    <h3>Pedro Hnerique Padilha Portella da Cruz</h3>
    <h3>usando asp.net core com mvc</h3>
</div>
    <img src="~/img/autor.jpg" alt="" height="400" width="230">