<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="navbar-brand text-light">Minha App Angular</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/produtos']" routerLinkActive="router-link-active"  class="nav-link">Produtos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/sobre']" routerLinkActive="router-link-active"  class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contato']" routerLinkActive="router-link-active"  class="nav-link">Contato</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/feature']" routerLinkActive="router-link-active"  class="nav-link">Features</a>
                </li>
            </ul>
        </div>
    </div>
</nav>