@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center d-block">
    <h1 class="display-4">Biblioteca do Portella</h1>
    <h3>Onde você encontra todo o tipo de livros</h3>
    <a href="/Biblioteca/Index" class="btn btn-success m-3">Lista de Livros disponíveis</a><br>
    <img class="" src="~/img/livros.jfif" alt="livros" width="600" height="400" >
</div>