@model IEnumerable<Biblioteca.Models.Livro>

<div class="content" style="text-align: center;">
    <h2>Biblioteca do Portella</h2>
    <a href="/Home/Index" class="btn btn-primary">Voltar</a>
    <a href="/Biblioteca/Cadastrar" class="btn btn-success">Cadastrar Livros</a>
    <hr>
        @foreach (Livro livro in Model){
            <p>Título: @livro.Titulo, Autor: @livro.Autor, Páginas: @livro.QuantidadeDePaginas, Exemplares Disponíveis: @livro.QuantidadeDeExemplares
                <div>
                    <a href="/Biblioteca/Editar/@livro.Id" class="btn btn-warning">Editar</a>
                    <a href="/Biblioteca/Excluir/@livro.Id" class="btn btn-danger">Excluir</a>
                </div>
            </p>
            <hr>
        }
</div>