@{
    ViewData["Title"] = "GFT Admin";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador de Funcionários em WA</h1>
    <hr>
    <div class="card-body-icon">
        <a class="btn btn-primary btn-lg" asp-controller="Wa" asp-action="Index">
            Gerenciar
            <i class="fas fa-angle-double-up"></i>
        </a>
    </div>
    <hr>
    <div class="card-body-icon">
        <a class="btn btn-success btn-lg" asp-controller="Service" asp-action="SeedData">
            Serviço de Seeding
            <i class="fas fa-seedling"></i>
        </a>
    </div>
</div> 
