@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca do Portella</h1>
    <h3>Onde você encontra todo o tipo de livros</h3>
    <a href="/Biblioteca/Index" class="btn btn-success">Lista de Livros disponíveis</a>
</div>
    <img src="~/img/wallpaper.jpg" alt="">